@page
@model PRNFootballWebsite.Client.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="hero-header hero-bg" style="background:url(/img/slide/3.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 no-margin">
                <h1>@Model.FirstUpcomingMatch.TournamentName</h1>
            </div>
            <div class="col-lg-12">
                <div class="box-start">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="info-match">
                                <div class="row">
                                    <div class="col">
                                        <h4>
                                            <span>Starting Date</span>
                                            <p id="timeShowUp">@Model.FirstUpcomingMatch.Datetime.ToString("h:mm:ss dd/MM/yyyy")</p>
                                        </h4>
                                    </div>
                                    <div class="col">
                                        <h4>
                                            <span>@Model.FirstUpcomingMatch.Stadium</span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="horizontal-next-teams">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <a href="../Team/@Model.FirstUpcomingMatch.Team1ID">
                                            <img src="~/img/clubs-logos/@Model.FirstUpcomingMatch.Team1Logo" alt="@Model.FirstUpcomingMatch.Team1Name">
                                            <span>@Model.FirstUpcomingMatch.Team1Name</span>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <strong>Vs</strong>
                                    </div>
                                    <div class="col">
                                        <a href="../Team/@Model.FirstUpcomingMatch.Team2ID">
                                            <img src="~/img/clubs-logos/@Model.FirstUpcomingMatch.Team2Logo" alt="@Model.FirstUpcomingMatch.Team2Name">
                                            <span>@Model.FirstUpcomingMatch.Team2Name</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="horizontal-next-counter">
                                <div id="countdown" class="counter"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="content-info">

    <div class="dark-home paddings-50-50">
        <div class="container">
            <div class="row">

                <div class="col-lg-4">
                    <div class="club-ranking">
                        <h5><a href="group-list">Premier League Ranking</a></h5>
                        <div class="info-ranking">
                            <ul>
                                <li>
                                    <span class="position">
                                        1
                                    </span>
                                    <a href="../Team/single-team">
                                        <img src="~/img/clubs-logos/rusia.png" alt="">
                                        Russia
                                    </a>
                                    <span class="points">
                                        90
                                    </span>
                                </li>
                                <li>
                                    <span class="position">
                                        2
                                    </span>
                                    <a href="../Team/single-team">
                                        <img src="~/img/clubs-logos/arabia.png" alt="">
                                        Saudi Arabia
                                    </a>
                                    <span class="points">
                                        86
                                    </span>
                                </li>
                                <li>
                                    <span class="position">
                                        3
                                    </span>
                                    <a href="../Team/single-team">
                                        <img src="~/img/clubs-logos/egy.png" alt="">
                                        Egypt
                                    </a>
                                    <span class="points">
                                        84
                                    </span>
                                </li>
                                <li>
                                    <span class="position">
                                        4
                                    </span>
                                    <a href="../Team/single-team">
                                        <img src="~/img/clubs-logos/uru.png" alt="">
                                        Uruguay
                                    </a>
                                    <span class="points">
                                        70
                                    </span>
                                </li>
                                <li>
                                    <span class="position">
                                        5
                                    </span>
                                    <a href="../Team/single-team">
                                        <img src="~/img/clubs-logos/por.png" alt="">
                                        Portugal
                                    </a>
                                    <span class="points">
                                        67
                                    </span>
                                </li>
                                <li>
                                    <span class="position">
                                        6
                                    </span>
                                    <a href="../Team/single-team">
                                        <img src="~/img/clubs-logos/esp.png" alt="">
                                        Spain
                                    </a>
                                    <span class="points">
                                        60
                                    </span>
                                </li>
                                <li>
                                    <span class="position">
                                        55
                                    </span>
                                    <a href="../Team/single-team">
                                        <img src="~/img/clubs-logos/mar.png" alt="">
                                        Morocco
                                    </a>
                                    <span class="points">
                                        90
                                    </span>
                                </li>
                                <li>
                                    <span class="position">
                                        8
                                    </span>
                                    <a href="../Team/single-team">
                                        <img src="~/img/clubs-logos/irn.png" alt="">
                                        IR Iran
                                    </a>
                                    <span class="points">
                                        53
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="recent-results">
                        <h5><a href="group-list">Recent Result</a></h5>
                        <div class="info-results">
                            <ul>
                                <li>
                                    <span class="head">
                                        Portugal Vs Spain <span class="date">27 Jun 2017</span>
                                    </span>
                                    <div class="goals-result">
                                        <a href="../Team/single-team">
                                            <img src="~/img/clubs-logos/por.png" alt="">
                                            Portugal
                                        </a>
                                        <span class="goals">
                                            <b>2</b> - <b>3</b>
                                        </span>
                                        <a href="../Team/single-team">
                                            <img src="~/img/clubs-logos/esp.png" alt="">
                                            Spain
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <span class="head">
                                        Rusia Vs Colombia <span class="date">30 Jun 2017</span>
                                    </span>
                                    <div class="goals-result">
                                        <a href="../Team/single-team">
                                            <img src="~/img/clubs-logos/rusia.png" alt="">
                                            Rusia
                                        </a>
                                        <span class="goals">
                                            <b>2</b> - <b>3</b>
                                        </span>
                                        <a href="../Team/single-team">
                                            <img src="~/img/clubs-logos/colombia.png" alt="">
                                            Colombia
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <span class="head">
                                        Uruguay Vs Portugal <span class="date">31 Jun 2017</span>
                                    </span>
                                    <div class="goals-result">
                                        <a href="../Team/single-team">
                                            <img src="~/img/clubs-logos/uru.png" alt="">
                                            Uruguay
                                        </a>
                                        <span class="goals">
                                            <b>2</b> - <b>3</b>
                                        </span>
                                        <a href="../Team/single-team">
                                            <img src="~/img/clubs-logos/por.png" alt="">
                                            Portugal
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="player-ranking">
                        <h5><a href="group-list">Top player</a></h5>
                        <div class="info-player">
                            <ul>
                                <li>
                                    <span class="position">
                                        1
                                    </span>
                                    <a href="../Team/single-team">
                                        <img src="~/img/players/1.jpg" alt="">
                                        Cristiano R.
                                    </a>
                                    <span class="points">
                                        90
                                    </span>
                                </li>
                                <li>
                                    <span class="position">
                                        2
                                    </span>
                                    <a href="../Team/single-team">
                                        <img src="~/img/players/2.jpg" alt="">
                                        Lionel Messi
                                    </a>
                                    <span class="points">
                                        88
                                    </span>
                                </li>
                                <li>
                                    <span class="position">
                                        3
                                    </span>
                                    <a href="../Team/single-team">
                                        <img src="~/img/players/3.jpg" alt="">
                                        Neymar
                                    </a>
                                    <span class="points">
                                        86
                                    </span>
                                </li>
                                <li>
                                    <span class="position">
                                        4
                                    </span>
                                    <a href="../Team/single-team">
                                        <img src="~/img/players/4.jpg" alt="">
                                        Luis Suárez
                                    </a>
                                    <span class="points">
                                        80
                                    </span>
                                </li>
                                <li>
                                    <span class="position">
                                        5
                                    </span>
                                    <a href="../Team/single-team">
                                        <img src="~/img/players/5.jpg" alt="">
                                        Gareth Bale
                                    </a>
                                    <span class="points">
                                        76
                                    </span>
                                </li>
                                <li>
                                    <span class="position">
                                        6
                                    </span>
                                    <a href="../Team/single-team">
                                        <img src="~/img/players/6.jpg" alt="">
                                        Sergio Agüero
                                    </a>
                                    <span class="points">
                                        74
                                    </span>
                                </li>
                                <li>
                                    <span class="position">
                                        7
                                    </span>
                                    <a href="../Team/single-team">
                                        <img src="~/img/players/2.jpg" alt="">
                                        Jamez R.
                                    </a>
                                    <span class="points">
                                        70
                                    </span>
                                </li>
                                <li>
                                    <span class="position">
                                        8
                                    </span>
                                    <a href="../Team/single-team">
                                        <img src="~/img/players/1.jpg" alt="">
                                        Falcao Garcia
                                    </a>
                                    <span class="points">
                                        65
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid padding-top">
        <div class="row">

            <aside class="col-sm-6 col-lg-2 col-xl-2 p-3">

                <div class="panel-box">
                    <div class="titles no-margin">
                        <h4>Famous stadium</h4>
                    </div>

                    <ul class="single-carousel">
                        <li>
                            <img src="~/img/locations/1.jpg" alt="" class="img-responsive">
                            <div class="info-single-carousel">
                                <h4>Saint Petersburg</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cillum dolore eu fugiat nulla sit amet, consectetur adipisicing elit, pariatur.</p>
                            </div>
                        </li>
                        <li>
                            <img src="~/img/locations/2.jpg" alt="" class="img-responsive">
                            <div class="info-single-carousel">
                                <h4>Ekaterinburg</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </li>
                        <li>
                            <img src="~/img/locations/3.jpg" alt="" class="img-responsive">
                            <div class="info-single-carousel">
                                <h4>Nizhny Novgorod</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </li>
                    </ul>

                </div>


                <div class="panel-box">
                    <div class="titles no-margin">
                        <h4>Tournament</h4>
                    </div>

                    <ul class="single-carousel">
                        @foreach (var item in Model.Tournaments)
                        {
                            <li>
                                <img src="~/img/tournamentIMG/@(item.TournamentId).jpg" alt="" class="img-responsive">
                                <div class="info-single-carousel">
                                    <h4>@item.Name</h4>
                                    <p>@item.Description</p>
                                </div>
                            </li>
                        }
                    </ul>

                </div>

            </aside>

            <div class="col-lg-8 col-xl-8">

                <div class="container">
                    <div class="black-section paddings">
                        <div class="row">
                            <div class="col-md-6 col-xl-3">
                                <div class="item-feature dark">
                                    <i class="fa fa-cogs"></i>
                                    <h3>Host selection</h3>
                                    <p>The bidding procedure to host the 2018 and 2022 FIFA World Cups began in January 2009, and national associations.</p>
                                    <a href="#">Learn More</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3">
                                <div class="item-feature dark">
                                    <i class="fa fa-users"></i>
                                    <h3>Teams</h3>
                                    <p>For the first time in the history of the FIFA World Cup, all eligible nations – the 209 FIFA member associations.</p>
                                    <a href="#">Learn More</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3">
                                <div class="item-feature dark">
                                    <i class="fa fa-calendar"></i>
                                    <h3>Venues</h3>
                                    <p>The final choice of host cities was announced on 29 September 2012. The number of cities was further reduced to 1.</p>
                                    <a href="#">Learn More</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3">
                                <div class="item-feature dark">
                                    <i class="fa fa-soccer-ball-o"></i>
                                    <h3>Marketing</h3>
                                    <p>The tournament logo was unveiled on 28 October 2014 by cosmonauts at the International Space Station.</p>
                                    <a href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding-bottom">
                    <div class="container">
                        <div class="row padding-top">
                            <div class="col-md-6 col-xl-4">
                                <a href="single-team.html">
                                    <div class="item-boxed-img" style="background: url(img/blog/2.jpg);">
                                        <i class="fa fa-soccer-ball-o"></i>
                                        <h4>Soccer Team </h4>
                                        <p>Best Sports Features</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <a href="page-about.html">
                                    <div class="item-boxed-img" style="background: url(img/blog/3.jpg);">
                                        <i class="fa fa-soccer-ball-o"></i>
                                        <h4>Club Features</h4>
                                        <p>Best Sports Features</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <a href="services.html">
                                    <div class="item-boxed-img" style="background: url(img/blog/4.jpg);">
                                        <i class="fa fa-soccer-ball-o"></i>
                                        <h4>Technical body</h4>
                                        <p>Best Sports Features</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <aside class="col-sm-6 col-lg-2 col-xl-2 p-3">

                <div class="panel-box">
                    <div class="titles">
                        <h4><i class="fa fa-calendar"></i>Schedule</h4>
                    </div>

                    <ul class="list-diary">
                        @foreach (var item in Model.NextUpcomingMatch)
                        {
                            <li>
                                <h6>@(item.TournamentName.Equals("Premier League") ? "EPL" : item.TournamentName) <span>@item.Datetime.ToString("dd MMM yyyy - HH:mm")</span></h6>
                                <ul class="club-logo">
                                    <li>
                                        <img src="~/img/clubs-logos/@item.Team1Logo" alt="@item.Team1Name">
                                        <span>@item.Team1Name</span>
                                    </li>
                                    <li>
                                        <img src="~/img/clubs-logos/@item.Team2Logo" alt="@item.Team2Name">
                                        <span>@item.Team2Name</span>
                                    </li>
                                </ul>
                            </li>
                        }

                    </ul>

                </div>

            </aside>

        </div>
    </div>

</section>

