@page
@model PRNFootballWebsite.Client.Pages.Epl.TableModel
@{
}
@if (HttpContext.Session.GetString("admin") != null)
{
    Response.Redirect("/Admin/Index");
}
<div class="section-title" style="background:url(/img/slide/1.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Points Table</h1>
            </div>
            <div class="col-md-4">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="/Index">Home</a></li>
                        <li>Inner Page</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="content-info">
    <div class="container paddings-mini">
        <div class="row">
            <div class="col-lg-12">
                <table class="table-striped table-responsive table-hover result-point">
                    <thead class="point-table-head">
                        <tr>
                            <th class="text-left">No</th>
                            <th class="text-left">TEAM</th>
                            <th class="text-center">P</th>
                            <th class="text-center">W</th>
                            <th class="text-center">D</th>
                            <th class="text-center">L</th>
                            <th class="text-center">GS</th>
                            <th class="text-center">GA</th>
                            <th class="text-center">+/-</th>
                            <th class="text-center">PTS</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @{
                            var index = 1;
                        }
                        @foreach (var item in Model.ListTeamTable)
                        {
                            <tr>
                                <td class="text-left number">@index <i class="fa fa-caret-up" aria-hidden="true"></i></td>
                                <td class="text-left">
                                    <img src="~/img/clubs-logos/@item.Logo" alt="Colombia"><span>@item.Name</span>
                                </td>
                                <td>@item.GamesPlayed</td>
                                <td>@item.Wins</td>
                                <td>@item.Draws</td>
                                <td>@item.Losses</td>
                                <td>@item.GoalsFor</td>
                                <td>@item.GoalsAgainst</td>
                                <td>@item.GoalDifference</td>
                                <td>@item.Points</td>
                            </tr>
                            index++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
